*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

#product{
text-align: center;
}
.col-flex{
  flex-direction: column;
  line-height: 2;
}
.nav,.footer{
  height: 50px;
  width: 100%;
  padding: 10px;
  background-color: rgb(26, 160, 160);
  justify-content: flex-end;
  font-size: 18px;
}
ul li{
  display: inline;
  margin: 0 20px;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
a:hover{
  border-bottom: 2px solid white;
}
.footer{
  justify-content: center;
  color: white;
  flex-direction: column;
  height: 70px;
}
.product-card{
  padding-bottom:10px;
  background-color: rgb(227, 238, 241);
  border-radius: 10px;
  margin-bottom: 10px;
}
.home,.about{
  flex-direction: column;
  line-height: 2;
}
.product-card,.employee-card{
  padding: 10px;
  background-color: rgb(156, 252, 252);
  margin-bottom: 10px;
  border-radius: 10px;
}
#not-found{
  color: rgb(241, 61, 61);
}
li{
  list-style-type: none;
}
.link{
  text-decoration: none;
  color: black;
}
.link:hover{
  cursor: pointer;
  color:  rgb(188, 22, 238);
}
#About{
  padding: 20px 20px;
  background-color: rgb(229, 161, 243);
  width: 100%;
  margin-bottom: 20px;
}